@import '../../../../../styles/colors';

.hero__box {
    width: 100%;

    .heroImg__box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 3vw;

        .heroImg{
            width: 100%;
            border-radius: 20px;
        }
    }
    .heroText__box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        box-sizing: border-box;
        padding-left: 3vw;
        padding-right: 3vw;
        

        .heroText{
            font-family: Verdana;
            font-size: 10pt;
            color: $third;
        }
    }
}