@import '../../../../../styles/colors';
.samples__box{
    width: 100%;
    box-sizing: border-box;
    border: 3px solid $fourth;
    border-radius: 20px;
    margin-bottom: 25px;
    .sample__card{
        width: 100%;
        box-sizing: border-box;
        padding-left: 3vw;
        padding-right: 3vw;


        .title__box{
            width: 100%;
            text-align: center;
            color: $third;
            .sample__title{
                font-family: verdana;
                font-size: 16pt;
            }
        }
        
        .img__box{
            width: 100%;
        
            .sample__img{
                width: 100%;
                border-radius: 20px;
            }
        }  
    }
}