.footer__box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    .footer__list {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .list__item {
            
            width: 50%;

            .item__link {
                display: flex;
                justify-content: center;
                align-items: center;

                .footer__icon {
                    width: 20%;
    
                    &--linkedin{
                        width: 70%;
                    }
                }
                
            }

        }
        
    }
}