@import '../../styles/colors';

.menu__box{
    width: 100%;
    height: 100px;
    
    .menu__list{
        padding-top: 25px;
        padding-left: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .menu_button{
            width: 35%;
            border: 3px solid $secondary;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            

            .menu__text{
                padding: 5px;
                text-decoration: none;
                font-family: Verdana;
                font-size: 18pt;
                color: $secondary;
                
            }
        }
        
    }
}