<div class="container">
    <div class="gallery__box" *ngFor="let item of gallery">
        <div class="galleryText__box">
            <h3>{{item.title}}</h3>
        </div>
        <div class="card__box" *ngFor="let element of item.gallery">
            <div class="images__box">
                <img class="images" src="{{element.img.src}}" alt="{{element.img.alt}}">
            </div>
            <div>{{element.name}}</div>
            <div>{{element.price}}</div>
        </div>
    </div>
</div>
