.container{
    width: 100%;

    .gallery__box{
        width: 100%;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 3vw;
        box-sizing: border-box;

        .galleryText__box{
            width: 100%;
            display: flex;
            justify-content: center;

        }

        .card__box{
            width: 100%;

            .images__box{
                width: 100%;
                
                .images{
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }
}